body {
  background-color: #000000;
}
.card-body {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 50s;
  animation-iteration-count: infinite;
}
@keyframes example {

  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
  
/* 
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;} */
  /* from {background-color: red;}
  to {background-color: yellow;}
  to {background-color: pink;}
  to {background-color: green;}
  to {background-color: greenyellow;} */
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color: #ffffff;
}
